body{

    background-color: #9c9c9c;
    font-family: 'Roboto', sans-serif;

}



img {

    display: block;
    width: 35px;
    height: 25px;

}



h1{

    color: #4B5320;

}

.table-content{

    text-decoration: none;
    
}

figcaption {

    text-align: center;
    color: #333;
    font-weight: bold;

}
